
body{
    margin: 0px;
    background-color: #1C1C23;
    color: #605E70;
}


.title {
    font-family: sans-serif;
    
}

.uppercase {
    text-transform: uppercase;
} 

.big_title {
    font-size: 35pxrel="stylesheet" href="style.css";
    text-align: center;
}

.title_image {
   
}

.Main_Title {
    background: #151421;
    text-align: center;
    background-size: 50%;
    width: auto;
    font-family: sans-serif;
    font-size: 100px;
    container-name: maintitle;
    border-radius: 40px;
}

.Social_links {
    align: left;
    font-size: 17px;
    background-color: rgb(114, 114, 114);
    border-radius: 10px;
    border-color: black;
}

.left_aligned_par {
    text-align: center;
    align: center;
    background-color: #151421;
    height: 150px;
    color: #605E70;
    font-size: 18px;
    font-family: sans-serif;
}

@container maintitle (min-width: 700px) {
    .Main_Title {
        font-size: 2vw;
    }
}

p {
    overflow: scroll;
}

.Header {
    text-align: center;
    font-family: sans-serif;
}

.navbar ul {
    list-style-type: none;
    background-color: #151421;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: rgb(197, 197, 197);
    text-decoration: none;
    padding: 15px;
    text-align: center;
    display: block;
    font-family: sans-serif;
}



.navbar a:hover{
    background-color: #413F4C;
}

.navbar li{
    float: left;
}

.SocialLink{
    text-align: center;
    display: block; margin-left: auto; margin-right: auto;
    font-family: sans-serif;
    color: #605E70;
    font-size: 19px;
}